@page
@model GGD_Display.Pages.SettingsModel
@{
    ViewData["Title"] = "Settings";
}


<div class="settings-container">
    <h2>Settings</h2>

    <div class="setting">
        <label for="content18">
            Content: Allow 18+ Checks
            <span class="tooltip">
                &#9432;
                <span class="tooltiptext">Enable this to allow age-restricted content that may be suitable only for viewers over 18.</span>
            </span>
        </label>
        <input type="checkbox" id="content18">
    </div>

    <div class="setting">
        <label for="privacy">
            Privacy: Show Online Status
            <span class="tooltip">
                &#9432;
                <span class="tooltiptext">Check this if you would like to enable full twitch integration.</span>
            </span>
        </label>
        <input type="checkbox" id="privacy">
    </div>
    <button class="accordion">Twitch Integration Disclaimer</button>
    <div class="accordion-content">
        This application integrates with the Twitch API to provide enhanced functionality. When connected, we collect and temporarily store the following data from your Twitch account:<br><br>
        <ul>
            <li>Your Twitch username</li>
            <li>The list of channels you follow</li>
            <li>The list of channels you are subscribed to</li>
        </ul>
        This information is used <strong>only</strong> to display a personalized list on the homepage for quick and easy selection. None of this data is shared externally or used for any other purpose.
    </div>

    <button onclick="showWifiDisclaimer()">Change WiFi</button>
    <div id="wifiDisclaimer" class="hidden">
        <div class="disclaimer">
            Only use when making known modifications to your network. Adding a new network will start a utility timer. If there is not a valid connection in 2 hours from the change, the Raspberry Pi will default to its own WiFi server and the network credentials must be reentered.<br><br>
            You can check the timer by returning to this page if you allowed cookies. You can use the reset button to force this change sooner.
        </div>
        <label><input type="checkbox" id="acknowledgeDisclaimer" onchange="toggleWifiSettings()"> I understand and acknowledge</label>
        <div id="wifiSettings" class="hidden">
            <div class="setting-column">
                <label for="wifiUsername">WiFi Username</label>
                <input type="text" id="wifiUsername" placeholder="Enter WiFi username">
            </div>

            <div class="setting-column">
                <label for="wifiPassword">WiFi Password</label>
                <input type="password" id="wifiPassword" placeholder="Enter WiFi password">
            </div>
            <button onclick="confirmWifiChange()">Confirm Change</button>
        </div>
    </div>

    <button class="accordion">Privacy Disclaimer: WiFi Usage</button>
    <div class="accordion-content">
        When you enter your WiFi SSID and password into this application, the credentials are used solely to connect a Raspberry Pi device to your wireless network.<br><br>
        The information is transmitted locally to the Raspberry Pi via this web server and <strong>is not stored, logged, or transmitted to any external servers or third parties</strong>.<br><br>
        This process is necessary for enabling the Raspberry Pi to access the internet for updates and to perform its designated functions. By proceeding, you acknowledge and accept that the device will attempt to join the provided network using the credentials you enter.
    </div>
</div>



